<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JSQChatUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1DB91471E03E8770080FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DB91601E03E8770080FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DB916B1E03E8770080FF1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
